    <link rel="stylesheet" href="./css/signup.css">
    <form action="/signup-post" method='post'>
        <label for="">
            Name: <input type="text" name="name" id="userName" value={{name}}>
        </label>
        <span>{{error.name}}</span>
        <label for="">
            Email: <input type="email" name="email" id="userEmail" value={{email}}>
        </label>
        <label for="">
            Address: <input type="text" name="address" id="userAddress" value={{address}}>
        </label>
        <button type="submit">Submit</button>
    </form>
