body{
    height: 100vh;
}

form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
input{
    width: 500px;
    margin: 20px auto;
}


